<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel="stylesheet" href="./style/index.css">
</head>
<body>
  <h1 class="title">TODO List</h1>

  <!-- <h3 class="para-title">Submit TODO: </h3> -->
  <form class="form"
    action="http://localhost:5020/add" enctype="application/x-www-form-urlencoded" method="post">
    <div class="row">
      <p class="col col-4 text-right">内容：</p>
      <p class="col col-6"><input type="text" name="content" value="" placeholder="请输入内容"></p>
    </div>
    <div class="row">
      <p class="col col-4"></p>
      <p class="col col-6"><input type="submit" value="提交"></p>
    </div>
  </form>

  <h3 class="para-title">Display TODO List: </h3>
  <div class="row">
    <span class="col col-4">内容（点击可编辑）</span>
    <span class="col col-2">创建时间</span>
    <span class="col col-2">更新时间</span>
    <span class="col col-2">操作</span>
  </div>
  <ul>
    <% todos.forEach(function(todo){ %>
      <li class="li row">
        <span class="content col col-4">
          <form class="content-edit"
            action="http://localhost:5020/update" method="POST" enctype="application/x-www-form-urlencoded">
            <input name="content" type="text" value="<%= todo.content %>" autofocus />
            <input type="hidden" name="id" value="<%= todo.id %>" />
            <br/>
            <input class="btn todo-oper edit" type="submit" value="编辑">
            <button class="btn content-oper cancel">取消</button>
          </form>
          <span class="content-show"><%= todo.content %></span>
        </span>
        <span class="time created_at col-2"><%= todo.created_at %></span>
        <span class="time updated_at col-2"><%= todo.updated_at %></span>
        <span class="time updated_at col-2">
          <button class="btn todo-oper delete" data-id="<%= todo.id %>">删除</button>
        </span>
      </li>
    <% }) %>
  </ul>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">

    $('.content-show').on('click', function(){
      var $form = $(this).parent().find('.content-edit');
      var _$this = $(this);
      _$this.hide();
      $form.show();
      $form.find('.btn.content-oper.cancel').off('click').on('click', function(){
        _$this.show();
        $form.hide();
      });
    });
    // 更新
    $('.btn.todo-oper.edit').on('click', function(){
      var id = $(this).data('id');

    });
    // 删除
    $('.btn.todo-oper.delete').on('click', function(){
      var id = $(this).data('id');
      window.location.href = 'http://localhost:5020/delete?id=' + id;
    });
  </script>
</body>
</html>
